<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_add_product_complete">
        <observer name="after_add_to_cart" instance="ProxiBlue\LastAddedToCart\Observer\InjectSessionVar" />
    </event>
</config>
